#article {
	padding-top: 100px;
}

#article_header {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

#article_description p{
    color: white;
}

#CircularDiv {
    padding-top: 1%;
}

#homepage_link {
    color: white !important;
    font-size: 16px;
    text-decoration: none;
}

#homepage_link:hover {
    color: $secondary !important;
}

#article_description .subtitle{
    color: $secondary;
}

#title {
    color: $secondary;
}


.article_image {
    transition: .5s all;
    cursor: pointer;
    padding: 2px;
}

.article_image:hover {
    transform: scale(1.1,1.1);
}

#tagline {
    font-style: italic;
}

.actor_image {
    width: 4em;
    height: 4em;
    object-fit: cover;
}