#logo {
	transition: .5s all;
	width: 100px;
}

#logo:hover {
	transform: scale(1.05,1.05);
}

.nav-link {
	transition: .3s all;
}

.nav-link:hover {
	transform: translateY(-5px);
}

.navbar {
	transition: .5s all;	
}

.transparent {
	background: rgba(0,0,0,0) !important;	
}

.normal {
	background: rgba(0, 26, 38, .9) !important;
	-webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.75);
}

.active {
	color: $secondary !important;
}